{% extends "_layouts/default.html" %}

{% block title %}7 minutes{% endblock %}

{% block head %}
{%- endblock %}

{% block content %}
<div class="wrapper">
  <div class="container">
    <h1>7 minutes</h1>

    <div class="workout-container" id="workout-container">
      <div class="play-button-container" id="play-button-container">
        <img src = "/static/play.svg" alt="Start workout" class="play-button" id="play-button"/>
      </div>
    </div>
  </div>
</div>
{%- endblock %}

{% block scripts %}
{%- endblock %}
