body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 26px;
  line-height: 1.5;
  color: #333;
  background: #FFFD82;
  text-align: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "DynaPuff", cursive;
  font-size: 72px;
  font-weight: 700;
  color: #E2A099;
  border: 20px;
}